go 1.22.0

use (
	./api/gen/go
	./pkg/blockchain
	./pkg/cache
	./pkg/crypto
	./pkg/did
	./pkg/events
	./pkg/i18n
	./pkg/metrics
	./pkg/tracing
	./pkg/migrate
	./pkg/hsm
	./pkg/tls
	./pkg/vc
	./services/audit
	./services/biometric
	./services/credential
	./services/electoral
	./services/enrollment
	./services/gateway
	./services/identity
	./services/justice
	./services/notification
	./services/card
	./services/ussd
	./services/verifier
	./services/govportal
)
